<ion-tabs>
  <ion-tab [root]="tab1Root"  [rootParams]="tabsparams"  tabTitle="Juegos" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root"  [rootParams]="tabsparams" tabTitle="Notas" tabIcon="md-briefcase"></ion-tab>
  <ion-tab [root]="tab4Root"  [rootParams]="tabsparams"  tabTitle="Mensajes" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab5Root"  [rootParams]="tabsparams"  tabTitle="Planificacion" tabIcon="home"></ion-tab>

</ion-tabs>
